<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New account</title>
    <link href="/style/account-order-blank-style/account-blank-style.css" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="project-name">BANK PROJECT</div>

    <form th:action="@{/account-order-blank}" th:method="post">
    <div class="fields">

        <label>
            <span>Есть ли у вас цель?</span>
            <select class="aim-type-select">
                <option  value="">Выберите цель</option>
                <option type = "text" name = "goal" value="forTravel">Накопить на путешествие</option>
                <option type = "text" name = "goal" value="forHealth">Накопить на лечение</option>
                <option type = "text" name = "goal" value="forGift">Накопить на подарок</option>
                <option type = "text" name = "goal">Другое...</option>
            </select>
        </label>

        <label>
            <span>У вас есть цель который нету в нашем списке?</span>
            <input class = account-type-select name = "customGoal" type = "text" placeholder="Если нету никакой цели оставьте это поле пустым">
        </label>

        <label>
            <span>Тип счета</span>
            <select class="account-type-select">
                <option type = "text" name = "accountType" value="">Выберите счет</option>
                <option type = "text" name = "accountType"  value="Saving account">Накопительный</option>
                <option type = "text" name = "accountType" value="Deposit">Вклад</option>
                <option type = "text" name = "accountType" value="Deposit account">Депозитный</option>
                <option type = "text" name = "accountType" value="Budget account">Бюджетный</option>
            </select>
        </label>

        <div style="text-align: center">
            <button type="submit" class="order-button">Открыть</div>
        </div>

        <div style="text-align: center">
            <a class="back-button" href = "new-account">← Назад</a>
        </div>

    </form>
    </div>
</body>
</html>