<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New account</title>
    <link href="/style/account-order-blank-style/account-blank-style.css" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="project-name">BANK PROJECT</div>

    <form th:action="@{/account-order-blank}" th:method="post">
    <div class="fields">

        <label>
            <span>Есть ли у вас цель?</span>
            <select name = "goal" class="aim-type-select">
                <option  value="">Выберите цель</option>
                <option   value="Travel">Накопить на путешествие</option>
                <option   value="Health">Накопить на лечение</option>
                <option   value="Gift">Накопить на подарок</option>
                <option  >Другое...</option>
            </select>
        </label>

        <label>
            <span>У вас есть цель который нету в нашем списке?</span>
            <input class = account-type-select name = "customGoal" type = "text" placeholder="Если нету никакой цели оставьте это поле пустым">
        </label>

        <label>
            <span>Тип счета</span>
            <select  name = "accountType" class="account-type-select">
                <option  value="">Выберите счет</option>
                <option  value="Saving account">Накопительный</option>
                <option value="Deposit">Вклад</option>
                <option  value="Deposit account">Депозитный</option>
                <option  value="Budget account">Бюджетный</option>
            </select>
        </label>

        <div style="text-align: center">
            <button type="submit" class="order-button">Открыть</button>
        </div>

        <div style="text-align: center">
            <a class="back-button" href = "new-account">← Назад</a>
        </div>
    </div>
    </form>
</div>

</body>
</html>