<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New account</title>
    <link href="/style/account-order-blank-style/account-blank-style.css" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="project-name">BANK PROJECT</div>

    <div class="fields">

        <label>
            <span>Есть ли у вас цель?</span>
            <select class="aim-type-select">
                <option value="">Выберите счет</option>
                <option value="forTravel">Накопить на путешествие</option>
                <option value="forHealth">Накопить на лечение</option>
                <option value="forGift">Накопить на подарок</option>
                <option value="other">Другое...</option>
            </select>
        </label>

        <label>
            <span>Тип счета</span>
            <select class="account-type-select">
                <option value="">Выберите счет</option>
                <option value="saveAccount">Накопительный</option>
                <option value="bankDeposit">Вклад</option>
                <option value="deposit">Депозитный</option>
                <option value="benefit">Бюджетный</option>
            </select>
        </label>

        <div style="text-align: center">
            <div class="order-button">Открыть</div>
        </div>

        <div style="text-align: center">
            <a class="back-button" href = "new-account">← Назад</a>
        </div>

    </div>
</div>
</body>
</html>