<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order card</title>
    <link href="/style/global-style/header-style.css" rel="stylesheet" />
    <link href="/style/global-style/footer-style.css" rel="stylesheet" />
    <link href="/style/global-style/burger-menu-style.css" rel="stylesheet">
    <link href="/style/card-order-page-style/card-order-style.css" rel="stylesheet">
</head>
<header class="header">

    <div class="header-top">
        <a href="home" class = "user-btn">
            <img src="/icons/user-icon.png" alt="User Icon" class="user-icon" />
            <span class="user-name">User</span>
        </a>

        <a href="main" class ="back-title">
            <div class="project-title">BANK PROJECT</div>
        </a>

        <div class="menu-container">
            <button class="menu-toggle" id="menu-toggle">
                <img src="/icons/burger-menu-icon.png" alt="Menu" />
            </button>

            <ul class="dropdown-menu" id="dropdown-menu">
                <li class="menu-header">Меню</li>
                <li>
                    <a href="reviews">
                        <img src ="/icons/reviews-icon.png" alt="Review" class = "menu-icon"/>
                        Отзывы о нашем банке
                    </a>
                </li>
                <li>
                    <a href="replenishment">
                        <img src ="/icons/check-mark-icon.png" alt="Balance" class = "menu-icon"/>
                        Переводы и пополнение баланса
                    </a>
                </li>
                <li>
                    <a href="support">
                        <img src ="/icons/support-icon.png" alt="Support" class = "menu-icon"/>
                        Поддержка
                    </a>
                </li>
                <li>
                    <a href="card-order">
                        <img src ="/icons/card-icon.png" alt="Bank card" class = "menu-icon"/>
                        Заказать банковскую карту
                    </a>
                </li>
                <li>
                    <a href="new-account">
                        <img src ="/icons/account-icon.png" alt="New account" class = "menu-icon"/>
                        Открыть новый счет
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src ="/icons/theme-icon.png" alt="Theme" class = "menu-icon"/>
                        Поменять тему
                    </a>
                </li>
            </ul>
        </div>

        <script src="/style/global-style/burger-menu.js"></script>

    </div>
    <div class="currency-bar">
        <span>$ = 93.24 ₽</span>
        <span>€ = 101.35 ₽</span>
        <span>£ = 117.78 ₽</span>
    </div>
</header>
<body>
<div class="first-column">
    <div class="card-button" data-id="card1"><span>Card1</span><img src="/icons/order-card.png" class="order-card-icon" alt="Card icon"></div>
    <div class="card-button" data-id="card2"><span>Card2</span><img src="/icons/order-card.png" class="order-card-icon" alt="Card icon"></div>
    <div class="card-button" data-id="card3"><span>Card3</span><img src="/icons/order-card.png" class="order-card-icon" alt="Card icon"></div>
    <div class="card-button" data-id="card4"><span>Card4</span><img src="/icons/order-card.png" class="order-card-icon" alt="Card icon"></div>
</div>

<div class="second-column">
    <div class="card-section">
        <div class="card-info-container">
            <span class="card-info-text">Подробнее о карте: <span class ="card-name">-</span></span>
            <div class="card-info">Card info</div>
        </div>
        <a href="card-order-blank" class="apply-for-a-card-container">
            <div class="apply-for-a-card-text">Хотите оформить карту?</div>
        </a>
    </div>
</div>

<script src ="/style/card-order-page-style/card-info-expand.js"></script>
</body>
<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h2 class="footer-title">BANK PROJECT</h2>
            <p class="footer-text">Ваш цифровой банк будущего. Управляйте деньгами умно и удобно.</p>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Навигация</h3>
            <ul class="footer-list">
                <li><a href="home">Профиль</a></li>
                <li><a href="main">Главная</a></li>
                <li><a href="replenishment">Пополнение</a></li>
                <li><a href="card-order">Карты <- Сейчас вы здесь!</a></li>
                <li><a href="support">Поддержка</a></li>
                <li><a href="reviews">Отзывы</a></li>
                <li><a href="new-account">Новый счет</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Наша команда</h3>
            <ul class="footer-list">
                <li>Кирилл Зенкин — Архитектор</li>
                <li>Кирилл Зенкин — Backend</li>
                <li>Кирилл Зенкин — UI/UX</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Контакты</h3>
            <ul class="footer-list">
                <li><a href="mailto:werdewrs555@gmail.com">support@gmail.com</a></li>
                <li><a href="t.me/pepegazxcc">Telegram</a></li>
                <li><a href="https://github.com/pepegazxc">GitHub</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        © 2025 BANK PROJECT. Все права защищены.
    </div>
    <script src="/style/global-style/footer-script.js"></script>
</footer>
</html>