<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card type 3</title>
    <link href ="/card-order-blank-style/card-blank-style.css"  rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="project-name">BANK PROJECT</div>

    <div class="fields">

        <label>
            <span>Имя</span>
            <input type="text" class="input-name" placeholder="Введите имя">
        </label>

        <label>
            <span>Фамилия</span>
            <input type="text" class="input-surname" placeholder="Введите фамилию">
        </label>

        <label>
            <span>Отчество (если есть)</span>
            <input type="text" class="input-patronymic" placeholder="Введите отчество">
        </label>

        <label>
            <span>Телефон</span>
            <input type="tel" class="input-phone" placeholder="+7 (___) ___-__-__">
        </label>

        <label>
            <span>Паспорт</span>
            <input type="text" class="input-passport" placeholder="Серия и номер">
        </label>

        <label>
            <span>Email</span>
            <input type="email" class="input-email" placeholder="example@mail.com">
        </label>

        <label>
            <span>Тип карты: Виртуальная</span>
        </label>

        <div style="text-align: center">
            <div class="order-button">Заказать</div>
        </div>


        <div style="text-align: center">
            <a class="back-button" href = "card-order">← Назад</a>
        </div>
    </div>
</div>

</body>
</html>