<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Operation history</title>
    <link href = "/style/history-page-style/history-page-style.css" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="project-name">BANK PROJECT</div>

    <div class="history-header">
        <div class="header-item">Контакт</div>
        <div class="header-item">Сумма</div>
        <div class="header-item">Время</div>
        <div class="header-item">Тип операции</div>
    </div>

    <div class="history-rows">
        <div class="row" th:each="item : ${history}">
            <div class="column-item" th:text="${item.contactId?.contactType} ?: '—'"></div>
            <div class="column-item" th:text="${item.amount} ?: '—'"></div>
            <div class="column-item" th:text="${#temporals.format(item.time, 'dd.MM.yyyy HH:mm:ss')} ?: '—'"></div>
            <div class="column-item" th:text="${item.operationType} ?: '—'"></div>
        </div>
    </div>

    <div style="text-align: center">
        <a class="back-button" href="main">← Назад</a>
    </div>

    <div th:if="${error}" style="color: red; text-align: center; margin-top: 10px;">
        <p th:text="${error}"></p>
    </div>
</div>

</body>
</html>