<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href = "/login-page-style/login-style.css" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="project-name">BANK PROJECT</div>

    <div class="fields">

        <label>
            <span>User name</span>
            <input type="text" class="input-user-name" placeholder="user name">
        </label>

        <label>
            <span>Email</span>
            <input type="email" class="input-email" placeholder="example@mail.com">
        </label>

        <div style="text-align: center">
            <div class = "login-button">Войти</div>
        </div>

        <div style="text-align: center">
            <a class="registration-button" href = "registration">Нет аккаунта?</a>
        </div>
    </div>
</div>
</body>
</html>