<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Replenishment page</title>
    <link href="/style/global-style/header-style.css" rel="stylesheet" />
    <link href="/style/global-style/footer-style.css" rel="stylesheet" />
    <link href="/style/global-style/burger-menu-style.css" rel="stylesheet">
    <link href="/style/replenishment-page-style/replenishment-page-style.css" rel="stylesheet">
</head>
<header class="header">

    <div class="header-top">
        <a href="home" class = "user-btn">
            <img src="/icons/user-icon.png" alt="User Icon" class="user-icon" />
            <span class="user-name" th:text = "${username}">User</span>
        </a>

        <a href="main" class ="back-title">
            <div class="project-title">BANK PROJECT</div>
        </a>

        <div class="menu-container">
            <button class="menu-toggle" id="menu-toggle">
                <img src="/icons/burger-menu-icon.png" alt="Menu" />
            </button>

            <ul class="dropdown-menu" id="dropdown-menu">
                <li class="menu-header">Меню</li>
                <li>
                    <a href="reviews">
                        <img src ="/icons/reviews-icon.png" alt="Review" class = "menu-icon"/>
                        Отзывы о нашем банке
                    </a>
                </li>
                <li>
                    <a href="replenishment">
                        <img src ="/icons/check-mark-icon.png" alt="Balance" class = "menu-icon"/>
                        Переводы и пополнение баланса
                    </a>
                </li>
                <li>
                    <a href="support">
                        <img src ="/icons/support-icon.png" alt="Support" class = "menu-icon"/>
                        Поддержка
                    </a>
                </li>
                <li>
                    <a href="card-order">
                        <img src ="/icons/card-icon.png" alt="Bank card" class = "menu-icon"/>
                        Заказать банковскую карту
                    </a>
                </li>
                <li>
                    <a href="new-account">
                        <img src ="/icons/account-icon.png" alt="New account" class = "menu-icon"/>
                        Открыть новый счет
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src ="/icons/theme-icon.png" alt="Theme" class = "menu-icon"/>
                        Поменять тему
                    </a>
                </li>
            </ul>
        </div>

        <script src="/style/global-style/burger-menu.js"></script>

    </div>
    <div class="currency-bar">
        <span class="support-footer-message">Перевод и пополнение баланса</span>
    </div>
</header>
<body>
<div class="two-columns">
    <div class="column first-column">
        <div class="last-contacts">
            <span class="last-contacts-text">Контакты которым вы переводили в последнее время чаще всего</span>
            <div class="last-contacts-icons">
                <img src="/icons/user-icon.png" alt="User icon">
                <img src="/icons/user-icon.png" alt="User icon">
                <img src="/icons/user-icon.png" alt="User icon">
                <img src="/icons/user-icon.png" alt="User icon">
            </div>
        </div>

        <div class="transfer-between-accounts">
            <span class="transfer-between-accounts-text">Перевод между счетами</span>
            <div class="transfer-row">
                <div class="transfer-container">
                    <span class="transfer-container-text">First account</span>
                    <input type="text" class="transfer-box" placeholder="Value">
                </div>
                <img class="arrow-icon" src="/icons/right-arrow.png" alt="Arrow icon">
                <div class="transfer-container">
                    <span class="transfer-container-text">Second account</span>
                    <input type="text" class="transfer-box" placeholder="Value">
                </div>
            </div>
            <div class="transfer-confirmation-button">
                <img src="/icons/check-mark-icon.png" alt="Check mark"> Перевести
            </div>
        </div>
    </div>

    <div class="column second-column">
        <span class="last-contacts-text">Выберите способ перевода</span>
        <div class="transfer-type-container">
            <div class="transfer-by-phone-number">
                По номеру телефона
                <input type="text" class="input-box" placeholder="Введите номер телефона">
                <input type="text" class="enter-value-container" placeholder="Сумма">
                <div class="transfer-confirmation-button">
                    <img src="/icons/check-mark-icon.png" alt="Check mark"> Перевести
                </div>
            </div>

            <div class="transfer-by-card-number">
                По номеру карты
                <input type="text" class="input-box" placeholder="Введите номер карты">
                <input type="text" class="enter-value-container" placeholder="Сумма">
                <div class="transfer-confirmation-button">
                    <img src="/icons/check-mark-icon.png" alt="Check mark"> Перевести
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<footer class="footer" id = "page-footer">
    <div class="footer-container">

        <div class="footer-section">
            <h2 class="footer-title">BANK PROJECT</h2>
            <p class="footer-text">Ваш цифровой банк будущего. Управляйте деньгами умно и удобно.</p>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Навигация</h3>
            <ul class="footer-list">
                <li><a href="home">Профиль</a></li>
                <li><a href="main">Главная</a></li>
                <li><a href="replenishment">Пополнение <- Сейчас вы здесь!</a></li>
                <li><a href="card-order">Карты</a></li>
                <li><a href="support">Поддержка</a></li>
                <li><a href="reviews">Отзывы</a></li>
                <li><a href="new-account">Новый счет</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Наша команда</h3>
            <ul class="footer-list">
                <li>Кирилл Зенкин — Архитектор</li>
                <li>Кирилл Зенкин — Backend</li>
                <li>Кирилл Зенкин — UI/UX</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Контакты</h3>
            <ul class="footer-list">
                <li><a href="mailto:werdewrs555@gmail.com">support@gmail.com</a></li>
                <li><a href="https://t.me/pepegazxcc">Telegram</a></li>
                <li><a href="https://github.com/pepegazxc">GitHub</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        © 2025 BANK PROJECT. Все права защищены.
    </div>
    <script src="/style/global-style/footer-script.js"></script>
</footer>


</html>