<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link href="/style/global-style/header-style.css" rel="stylesheet" />
    <link href="/style/global-style/footer-style.css" rel="stylesheet" />
    <link href="/style/global-style/burger-menu-style.css" rel="stylesheet">
    <link href="/style/user-page-style/user-info-style.css" rel="stylesheet">
</head>
<header class="header">

    <div class="header-top">
        <a href="home" class = "user-btn">
            <img src="/icons/user-icon.png" alt="User Icon" class="user-icon" />
            <span class="user-name" th:text="${user.user?.userName ?: ''}">User</span>
        </a>

        <a href="main" class ="back-title">
            <div class="project-title">BANK PROJECT</div>
        </a>

        <div class="menu-container">
            <button class="menu-toggle" id="menu-toggle">
                <img src="/icons/burger-menu-icon.png" alt="Menu" />
            </button>

            <ul class="dropdown-menu" id="dropdown-menu">
                <li class="menu-header">Меню</li>
                <li>
                    <a href="reviews">
                        <img src ="/icons/reviews-icon.png" alt="Review" class = "menu-icon"/>
                        Отзывы о нашем банке
                    </a>
                </li>
                <li>
                    <a href="replenishment">
                        <img src ="/icons/check-mark-icon.png" alt="Balance" class = "menu-icon"/>
                        Переводы и пополнение баланса
                    </a>
                </li>
                <li>
                    <a href="support">
                        <img src ="/icons/support-icon.png" alt="Support" class = "menu-icon"/>
                        Поддержка
                    </a>
                </li>
                <li>
                    <a href="card-order">
                        <img src ="/icons/card-icon.png" alt="Bank card" class = "menu-icon"/>
                        Заказать банковскую карту
                    </a>
                </li>
                <li>
                    <a href="new-account">
                        <img src ="/icons/account-icon.png" alt="New account" class = "menu-icon"/>
                        Открыть новый счет
                    </a>
                </li>
                <li>
                    <a href="operation-history">
                        <img src="/icons/history-icon.png" alt="History" class = "menu-icon"/>
                        История операций
                    </a>
                </li>
            </ul>
        </div>

        <script src="/style/global-style/burger-menu.js"></script>

    </div>
    <div class="currency-bar">
        <span>$ = 93.24 ₽</span>
        <span>€ = 101.35 ₽</span>
        <span>£ = 117.78 ₽</span>
    </div>

</header>
<body>
<div class="main-container">

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color: red;"></p>
    </div>

    <div class="column left-column">
        <div class="user-info">
            <img src="/icons/user-icon.png" alt="User Photo" class="user-photo">
            <div class="name-block">
                <h2 class="user-name" th:text = "${user.user?.name ?: ''}">Имя</h2>
                <p class="user-username" th:text = "${user.user?.userName ?: ''}">username</p>
            </div>
        </div>

        <div class="contact-box">
            <p>Номер телефона:</p>
            <p th:text = "${user.user?.phoneNumber ?: ''}"><strong>Телефон:</strong> +7 900 123-45-67</p>
            <p>Почта:</p>
            <p th:text = "${user.user?.email ?: ''}"><strong>Почта:</strong> user@mail.com</p>
            <p>Почтовый индекс:</p>
            <p th:text = "${user.user?.postalCode ?: ''}"><strong>Почтовый индекс:</strong> 13232</p>
            <p><strong>Доп. информация</strong></p>
            <p>Паспорт:</p>
            <p th:text = "${user.user?.passport ?: 'Пока что вы не сохранили свой паспорт'}"></p>
        </div>

        <div class="settings-icon">
            <a href = "edit-info">
            <img src="/icons/settings-icon.png" alt="Настройки">
            </a>
        </div>
    </div>


        <div class="column middle-column">
            <h2 class="section-title">Ваши карты и счета:</h2>

            <div th:if = "${user.card != null and user.card.cardNumber != null and !user.card.cardNumber.isEmpty()}">
                <h4>Баланс вашей карты:</h4>
                <div class="card-balance-box">
                    <p th:text = "${user.card?.cardBalance ?: 'Пока что вы не открыли карту'}"><strong>Баланс:</strong> ₽</p>
                </div>
                <form th:method="delete" th:action="@{/home/delete-card}">
                    <button type = "submit" class = "delete-card-button">Деактивировать карту</button>
                </form>
                <div th:if="${cardDeleted}">
                    <p th:text="${cardDeleted}" style="color: red;"></p>
                </div>
                <div th:unless="${cardDeleted}">
                    <p th:text="${errorMessageCard}" style="color: red;"></p>
                </div>
            </div>

            <div th:if = "${user.account != null and user.account.accountBalance != null}">
                <h4>Баланс вашего сберегательного счета:</h4>
                <div class="card-balance-box">
                    <p th:text = "${user.account?.accountBalance ?: 'Пока что вы не открыли счет'}"><strong>Баланс:</strong>  ₽</p>
                </div>
                <form th:method="delete" th:action="@{/home/delete-account}">
                    <button type = "submit" class = "delete-account-button">Деактивировать счет</button>
                </form>
                <div th:if="${accountDeleted}">
                    <p th:text="${accountDeleted}" style="color: red;"></p>
                </div>
                <div th:unless="${accountDeleted}">
                    <p th:text="${errorMessageAccount}" style="color: red;"></p>
                </div>
            </div>
            <div th:unless="${user.card != null and user.card.cardNumber != null and !user.card.cardNumber.isEmpty()}">
                <p>На данный момент у вас не оформлена карта</p>
            </div>
            <div th:unless="${user.account != null and user.account.accountBalance != null}">
                <p>На данный у вас не оформлен счет</p>
            </div>
        </div>

    <div class="column right-column">
        <div th:if ="${user.card != null and user.card.cardNumber != null and !user.card.cardNumber.isEmpty()}">
            <h2 class="section-title">Информация о карте</h2>

            <p id="card-number" th:data-cardNumber = "${user.card.cardNumber}">• Номер карты: **** **** **** ****</p>
            <p id="card-type" th:data-cardType = "${user.card.cardTypeId.id}">• Тип: ****</p>
            <p id="card-status" th:data-cardStatus = "${user.card.isActive()}">• Статус: ****</p>
            <p id="card-expiry" th:data-cardExpirationDate = "${user.card.cardExpirationDate}">• Срок действия: **/**</p>

            <button class = "card-button" id="toggle-card-info">Показать информацию</button>
        </div>
    </div>
</div>

<script src = "/style/user-page-style/card-data.js"></script>
</body>

<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h2 class="footer-title">BANK PROJECT</h2>
            <p class="footer-text">Ваш цифровой банк будущего. Управляйте деньгами умно и удобно.</p>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Навигация</h3>
            <ul class="footer-list">
                <li><a href="home">Профиль <- Сейчас вы здесь!</a></li>
                <li><a href="main">Главная</a></li>
                <li><a href="replenishment">Пополнение</a></li>
                <li><a href="card-order">Карты</a></li>
                <li><a href="support">Поддержка</a></li>
                <li><a href="reviews">Отзывы</a></li>
                <li><a href="new-account">Новый счет</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Наша команда</h3>
            <ul class="footer-list">
                <li>Кирилл Зенкин — Архитектор</li>
                <li>Кирилл Зенкин — Backend</li>
                <li>Кирилл Зенкин — UI/UX</li>
            </ul>
        </div>

        <div class="footer-section">
            <h3 class="footer-heading">Контакты</h3>
            <ul class="footer-list">
                <li><a href="mailto:werdewrs555@gmail.com">support@gmail.com</a></li>
                <li><a href="https://t.me/pepegazxcc">Telegram</a></li>
                <li><a href="https://github.com/pepegazxc">GitHub</a></li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        © 2025 BANK PROJECT. Все права защищены.
    </div>
    <script src="/style/global-style/footer-script.js"></script>
</footer>
</html>