.header {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    font-family: sans-serif;
    text-decoration: none;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    text-decoration: none;
}

.user-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 16px;
    font-weight: 500;
}

.project-title {
    font-size: 25px;
    font-weight: bold;
    width: auto;
    height: 30px;
    text-decoration: none;
    color: black;
}

.currency-bar {
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.back-title {
    text-decoration: none;
    color: black;
}

.back-title:hover {
    text-decoration: none;
}

.support-footer-message{
    color: white;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background: none;
}